<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tr.edu.iyte.quickreply">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_chat_bubble_outline_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_chat_bubble_outline_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".QuickReplyTile"
            android:icon="@drawable/ic_chat_bubble_outline_black_24dp"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".CallStopService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".RequestPermissionActivity" />
        <activity android:name=".SelectReplyActivity" android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".defAc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>